* {
    margin: 0;
    box-sizing: border-box;
}

.logo-login {

    margin-top: 120px;

    @media (max-width: 768px) {
        margin-top: 50px;
      }
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    // outline: solid 1px black;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);

    // outline: solid 1px black;
}

.login-container {
    width: 100%;
    max-width: 300px; /* or specific value, e.g. 500pxss */
    height: fit-content;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 11px 0px rgba(111, 144, 175, 0.25);
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

    // outline: solid 1px black;
}

.login-title{
    font-size: small;

    @media screen and (max-width: 768px) {
        font-size: x-small;
    }

    @media screen and (max-width: 480px) {
        font-size: xx-small;
    }

    // outline: solid 1px black;
}

.login-input-container {
    margin-top: 30px;
    input:not(:last-child) {
      margin-bottom: 12px;
    }

    // outline: solid 1px black;
}

@mixin input-style {
    width: 100%;
    max-width: 240px;
    height: 45px;
    text-align: left;
    text-indent: 10%;
    border-radius: 5px;
    border: solid 1px var(--loblolly);
    padding-left: 15px;

    @media (max-width: 768px) {
        padding-left: 10px;
    }

    @media (max-width: 480px) {
        padding-left: 5px;
    }
}

.email-input,
.password-input {
    @include input-style;
    padding-left: 30px;
}

.email-input,
.password-input {
    @include input-style;
    background-repeat: no-repeat;
    background-position: 13px center;
    background-size: 15px;

    @media (max-width: 768px) {
        background-size: 16px;
        background-position: 8px center;
    }

    @media (max-width: 480px) {
        background-size: 12px;
        background-position: 6px center;
    }
}

.email-input {
    background-image: url("../../assets/svg/email.svg");
}

.password-input {
    background-image: url("../../assets/svg/password.svg");
}

.login-button {
    margin-top: 30px;

    // outline: solid 1px black;
}