.edit-listing-style {
    margin-top: -4rem;
    h2, h3 {
        text-align: left;
    }
    .title-text, .title-2-text{
        text-align: justify;
    }
    .edit-form-style {
        margin-top: 3rem;
        border-radius: 0.5rem;
    }
    p {
      text-align: justify;
      line-height: 1.5rem;
    }

    form div {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .hr-edit-style {
        border: none;
        border-top: 1px solid var(--loblolly);
        margin-top: 5px;
        margin-bottom: 5px
    }
    
    label {
        font-size: small;
        font-weight: bold;
        margin-bottom: 0.5rem;
        text-align: left;
    }
    input[type="checkbox"] {
      margin-right: 0.5rem;
      font-size: small;
    }
    input[type="text"], 
    input[type="number"],
    select {
        padding: 0.5rem;
        border-radius: 5px;
        font-size: medium;
        color: var(--martinique);
        margin-top: 0.5rem;
        text-align: left;
        overflow-wrap: break-word;
        word-wrap: break-word;
        border: 1px solid var(--martinique);
    }

    .room-dimension {
      display: flex;
      text-align: left;

      .room-dimension-inputs {
          display: flex
      }   
      select, option {
          text-align: left;
          width: 10rem;
      }
  }

    select {
      cursor: pointer;
      .select-type {
        text-align: left;
      }
    }

    textarea {
        margin-top: 0.5rem;
        height: 5rem;
        border-radius: 5px;
        border: 1px solid var(--martinique);
        padding: 0.5rem;
        text-align: left;
        max-width: 100%;
        font-size: medium;
    }

    input[type="number"], 
    input[type="tel"],
    input[type="email"],
    select {
      padding: 0.5rem;
      border-radius: 5px;
      border: 1px solid var(--martinique);
      font-size: medium;
      color: var(--martinique);
      margin-top: 0.5rem;
      text-align: left;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }

    .rules-list{
      li {
        line-height: 1.5rem;
      }
    }

    .photo-list-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  
    .main-photo-container {
      margin-top: 1rem;
      max-width: 100%; /* Adjust the width as needed */
      height: 400px; /* Adjust the height as needed */
      overflow: hidden;
    }
  
    .main-photo {
      height: 100%; /* Set height to 100% */
      max-width: 100%; /* Add max-width to ensure it doesn't exceed the container */
      object-fit:contain;/* Use contain to fit the image without cropping */
      transition: transform 0.3s;
      border-radius: 5px;
    }

    .rules-list {
        list-style-type: decimal;
        li {
            text-align: justify;
        }
    }
      
    .photo-list {
      display: flex;
      flex-wrap: wrap; /* Add this line to wrap the photos */
      list-style: none;
      margin-top: 10px; /* Adjust the spacing between the main photo and the photo list */
    }
  
    .photo-list li {
      margin-top: 10px;
      width: 230px; /* Adjust the width as needed */
      height: 230px; /* Adjust the height as needed */
      overflow: hidden;
      margin-right: 20px; /* Adjust the spacing between photos */
      margin-bottom: 5px; /* Adjust the spacing between photos */
      border-radius: 5px;
    }
  
    .photo-list li img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.3s;
      border-radius: 5px;
    }    

    .error-message {
      color: red;
      text-align: left;
      font-size: 14px;
      margin-top: 5px;
    }

    button{
        margin-top: 1rem;
        width: 6rem;
        height: 2rem;
        border-radius: 55px;
        border: 1px solid var(--martinique);
        // border-color: black;
        background-color: white;
        color: var(--martinique);
        font-weight: bold;
        cursor: pointer;
        
        &:hover {
            background-color: var(--martinique);
            a {
              color: white;
            }
        }
    }
}
  