.listing-section {
    width: 100%;
    height: auto; /* Change to 'auto' to allow dynamic height */
    gap: 2%;

    background-color: var(--dirtywhite);
    box-shadow: 6px 7px 10px rgba(111, 144, 175, 0.2);
    border-radius: 10px;
    margin-bottom: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    cursor: pointer;
     // Increase the scale of the image
    transition: transform 0.3s, filter 0.3s; // Add smooth transition effect
        &:hover {
            transform: scale(1.02);
        }

    .listing-img {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 18em; /* Adjust the image width to fill the container */
            height: 15em; /* Change to 'auto' to maintain aspect ratio */
            border-radius: 10px 10px 0 0; /* Update border radius */
        }
    }

    .listing-left {
        width: 100%; /* Adjust width to fill the container */

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .type {
            background-color: var(--loblolly);
            width: 33%;
            height: 13%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .name-address {
            width: 100%;
            height: 16%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .name, .address {
                display: flex;
                align-items: start;
                text-align: left;
            }

        }

        .more-info {
            width: 100%;
            display: flex;
            flex-direction: row;

            .no-of-occupants, .amenity, .establishment {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                margin-right: 1em;

                h6 {
                    text-align: left;
                    color: var(--wildblueyonder);
                }
            }
        }
    }

    .listing-right {
        width: 100%; /* Adjust width to fill the container */
        height: auto;
        display: flex;
        // flex-direction: column;
        justify-content: space-around;
        // background-color: aqua;

        .fee-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .view-button {
            button {
                width: 8em;
                height: 3em;
                background-color: var(--martinique);
                color:var(--white);
                border-radius: 5px;
                border: none;
                cursor: pointer;
                transition: transform 0.3s, filter 0.3s; // Add smooth transition effect
                &:hover {
                    background-color: var(--white);
                    color: var(--martinique);
                    border: 1px solid var(--martinique);
                }

            }
        }
    }
}

@media (max-width: 1200px) {
    /* Apply styles for screens with a maximum width of 1100px (tablets and larger) */
    .listing-section {
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
    }

    .listing-left {
      margin: 5%;

        .type {
            padding: 1%;
        }

        .name-address {
            margin-top: 5%;
            .name, .address {
                margin-top: 2%;
                h2, h6 {
                    text-align: left;
                }
            }
        }

        .more-info {
            margin-top: 5%;
            justify-content: space-around;
            .no-of-occupants, .amenity, .establishment {
                h6 {
                    text-align: left;
                    color: var(--wildblueyonder);
                }
            }
        }
    }

    .listing-right {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 5% 0 10% 0;
    }
}

@media (min-width: 1200px) {

    .listing-left {
        .more-info {
            .no-of-occupants, .amenity, .establishment {
                justify-content: space-evenly;
            }
        }
    }

    .listing-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


