.headline-section {
    width: 100%;
    height: 3em;
    margin-bottom: 5%;
    display: flex;
    align-items: center;

    .headline-text {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    // .sort-dropdown-container {
    //     height: 70%;

    //     .sort-dropdown {
    //         display: flex;
    //         align-items: center;
    //         height: 100%;
    
    //         select {
    //             height: 80%;
    //             color:var(--martinique);
    //             border-radius: 25px;
    //             border: none;
    //             padding: 1%;
    //         }
    //     }
    // }

}