* {
    margin: 0;
    box-sizing: border-box;
}

.logo-reg{

    margin-top: 10vh;

    @media (max-width: 768px) {
        margin-top: 50px;
      }
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
}

.register-container {
    margin-top: 3vh;
    width: 100%;
    max-width: 300px;
    height: fit-content;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 11px 0px rgba(111, 144, 175, 0.25);
}

.register-title {
    font-size: small;

    @media screen and (max-width: 768px) {
        font-size: x-small;
    }

    @media screen and (max-width: 480px) {
        font-size: xx-small;
    }
}

.register-input-container {
    margin-top: 30px;
    input:not(:last-child) {
      margin-bottom: 12px;
    }
}

@mixin input-style {
    width: 100%;
    max-width: 240px;
    height: 45px;
    text-align: left;
    text-indent: 10%;
    border-radius: 5px;
    border: solid 1px var(--loblolly);
    padding-left: 15px;

    @media (max-width: 768px) {
        padding-left: 10px;
    }

    @media (max-width: 480px) {
        padding-left: 5px;
    }
}

.text-input,
.email-input,
.password-input {
    @include input-style;
    padding-left: 30px;
}

.text-input,
.email-input,
.password-input {
    @include input-style;
    background-repeat: no-repeat;
    background-position: 13px center;
    background-size: 15px;

    @media (max-width: 768px) {
        background-size: 16px;
        background-position: 8px center;
    }

    @media (max-width: 480px) {
        background-size: 12px;
        background-position: 6px center;
    }
}

.text-input {
    background-image: url("../../assets/svg/person.svg");
}

.email-input {
    background-image: url("../../assets/svg/email.svg");
}

.password-input {
    background-image: url("../../assets/svg/password.svg");
}

input:focus {
    outline: none;
    background-color: var(--white);
    box-shadow: 0 0 0 2px var(--wildblueyonder);
  }


.register-button {
    margin-top: 30px;
}

.register-button,
.login-button {
    button {
        background-color: var(--martinique);
        color: var(--white);
        font-size: small;
        font-weight: bold;
        width: 100%;
        max-width: 106px;
        height: 41px;
        border: none;
        border-radius: 44px;
        cursor: pointer;
    }
}

.footer {
    margin-top: 200px;
}