.sign-up-container {
    margin-top: 2rem;
    position: relative;
    max-width: 55rem;
    margin: 0 auto;
}

.logo1{
    position:  relative;
    width: 64px;
    height: 61px;
    left: 408px;
    top: 0px;
    
}