* {
    box-sizing: border-box;
}

.option-h2 {
        text-align: left;
        margin-top: -8rem;
}

.option-row {
    padding-top: 3rem;

    img {
        width: 90%;
        border-radius: 20px;
    }

    .option-column {
        float: left;
        width: 33.33%;
    }

    button{
            margin-top: 2rem;
            width: 6rem;
            height: 2rem;
            border-radius: 55px;
            border: 1px solid var(--martinique);
            // border-color: black;
            background-color: white;
            color: var(--martinique);
            cursor: pointer;
            
            &:hover {
                background-color: var(--martinique);
                color: white;
            }
            // Add codes that when the button is hovered, there are changes
    }

    h4 {
        margin-bottom: 1rem;
        &:hover {
            text-decoration: underline;
        }
    }
}