.main-container {
    grid-column: 1 / -1;
    grid-gap: 5%;
    display: grid;
    grid-template-columns: 15% auto;
    // align-items: flex-start;
    // flex-direction: column;
}

.searchbar-section {
    width: 100%;
    height: 3em;
    // background-color: aqua;
    margin-bottom: 5%;

    .searchbar {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 3em;
        gap: 1%;

        input{
            width: 70%;
            height: 90%;
            background-color: var(--dirtywhite);
            box-shadow: 6px 7px 10px rgba(111, 144, 175, 0.2);
            border-radius: 5px;
            border: none;
            font-size: medium;
        }
        button {
            width: 10%;
            height: 90%;
            background-color: var(--martinique);
            color:var(--white);
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: transform 0.3s, filter 0.3s; // Add smooth transition effect
                &:hover {
                    background-color: var(--white);
                    color: var(--martinique);
                    border: 1px solid var(--martinique);
                }
        }
    }
}

.checklist-section {
    height: 60vh;
    background-color: var(--dirtywhite);
    border: 1px solid var(--loblolly);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.headline-section {
    width: 100%;
    height: 3em;
    // background-color: rebeccapurple;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    .headline-text {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 100%;
        // background-color: beige;
    }

    .sort-dropdown-container {
        height: 70%;
        .sort-dropdown {
            display: flex;
            align-items: center;

            height: 100%;
            select {
                height: 80%;
                color:var(--martinique);
                border-radius: 25px;
                border: none;
                padding: 1%;
            }
        }
    }

}

.listing-section {
    width: 100%;
    height: 25vh;
    background-color: var(--dirtywhite);
    box-shadow: 6px 7px 10px rgba(111, 144, 175, 0.2);
    border-radius: 10px;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
     // Increase the scale of the image
    transition: transform 0.3s, filter 0.3s; // Add smooth transition effect
        &:hover {
            transform: scale(1.02);
        }


    .listing-img {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px 0 0 10px;
        }
    }

    .listing-left {
        width: 52%;
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .type {
            background-color: var(--loblolly);
            width: 33%;
            height: 13%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .name-address {
            width: 100%;
            display: flex;
            flex-direction: column;

            .name, .address {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: start;
            }

        }

        .more-info {
            width: 100%;
            display: flex;
            flex-direction: row;

            .no-of-occupants, .amenity, .establishment {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                h6 {
                    text-align: left;
                    color: var(--wildblueyonder);
                }
            }
        }
    }

    .listing-right {
        width: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5% 0% 2%;

        .fee-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            gap: 1%;
        }

        .view-button {
            display: flex;
            justify-content: center;
            align-items: end;
            button {
                width: 6vw;
                height: 6vh;
                background-color: var(--martinique);
                color:var(--white);
                border-radius: 5px;
                border: none;
                cursor: pointer;
                transition: transform 0.3s, filter 0.3s; // Add smooth transition effect
                &:hover {
                    background-color: var(--white);
                    color: var(--martinique);
                    border: 1px solid var(--martinique);
                }

            }
        }
    }
}
