.main-container {
    grid-column: 1 / -1;
    grid-gap: 6%;
    display: grid;

    &.filtered {
      grid-template-columns: 12em auto;
      grid-gap: 10%;

        .checklist-container {
            display: block;
        }

        .searchbar {
            input {
                width: 80%;
            }
        }

        .headline-text {
            h2 {
                text-align: left;
            }
        }
    }

    /* Apply styles for screens up to 1000px width */
    @media (max-width: 1000px) {
        grid-template-columns: 0 auto;
        grid-gap: 0;

        .checklist-container {
            display: none;
        }
    }

    @media (min-width: 1000px) {
        grid-template-columns: 17% auto;
    }
}

.explore-page-container {
    max-width:1440px;
    margin: auto;
    // T R B L
    padding: 0rem 10rem 1rem 10rem;
    @media (max-width: 767px) {
        padding: 2rem;
    }
}
