footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    hr {
        width: 75%;
        margin-left: 0;
        margin-right: 0;
    }
    .footer-content{
        display: flex;
        width: 80%;
        justify-content: space-between;
        padding: 2rem;
    }
}


