* {
  text-align: center;
}

.search {
  margin-top: -10rem;
  background-image: url("src/assets/images/home-img.jpg");
  background-size: cover;
  background-position: center;
  height: 23rem;
  border-radius: 15px;
  width: 100%;

  .search-text {
    padding: 6rem 2rem 1rem 3rem;

    h1 {
      color: white;
      font-size: 25px;
      text-shadow: 3px 3px 7px rgba(10, 0, 1, 1);
    }
  }

  .search-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-bar-container {
      padding: 5px 10rem 5px 10rem;
      width: 100%;

      input {
        border-radius: 50px;
        border: none;
        padding: 15px;
        min-width: 350px;
        width: 100%;
        max-width: 500px;
      }
    }

    .submit-btn-container {
      padding-top: 10px;
      width: 100%;

      button {
        border-radius: 55px;
        border: none;
        width: 6rem;
        height: 2rem;
        background-color: var(--white);
        color: var(--martinique);
        font-size: small;
        font-weight: bold;
        margin-bottom: 5rem;

        &:hover {
          background-color: var(--martinique);
          color: var(--white);
          border-color: var(--martinique);
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .search {
    height: max-content;
    border-radius: 15px;

    .search-text {
      padding-top: 5rem;
    }

    .search-box-container {
      .search-bar-container {
        padding: 5px 2rem 5px 2rem;

        input {
          min-width: 0;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .search {
    height: auto;
    border-radius: 15px;

    .search-text {
      padding-top: 5rem;
    }

    .search-box-container {
      .search-bar-container {
        padding: 5px 2rem 5px 2rem;

        input {
          min-width: 0;
        }
      }
    }
  }
}
