.checklist-section {
    height: 70vh;
    width: 100%;
    background-color: var(--dirtywhite);
    border: 1px solid var(--loblolly);
    border-radius: 5px;
    padding: 5%;

    .filter-icon {
      display: none; /* Initially hide the filter icon */
      cursor: pointer;
      text-align: center;

      img {
        width: 24px;
        height: 24px;
      }
    }

    .checklist-items {
      display: block; /* Initially hide the checklist items */
    }

    @media (max-width: 1000px) {
      /* Apply styles for screens up to 1000px width */
      .filter-icon {
        display: block; /* Show the filter icon */
      }

      .checklist-items {
        display: none; /* Hide the checklist items */
      }
    }

    .checklist-item {
        // background-color: aqua;
        width: 90%;
        height: 9%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;

        hr {
            width: 100%;
            border: solid 1px var(--loblolly);
        }

        input, select {
            width: 100%;
            border-radius: 5px;
            border: 1px solid var(--wildblueyonder);
        }

        label {
            font-size: small;
            font-weight: bold;
            text-align: left;
        }
    }
}